.footer {
  width: 100%;
  min-height: 23.47vw;
  background-color: var(--main-color);
  position: fixed;
  bottom: 0;
}
.footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.13vw 1.33vw 5.6vw 1.33vw;
}
.footer li a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.6vw 6.93vw;
  border-radius: 4.27vw;
}
.footer li.active a {
  background-color: var(--sub-color);
}
.footer img {
  width: 8.27vw;
  height: 7.73vw;
}
.footer p {
  display: block;
  margin-top: 1.6vw;
  font-size: 3.2vw;
  font-weight: bold;
  color: white;
  text-align: center;
}