.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100dvh;
  background-color: antiquewhite;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 8vh;
  width: 100vw;
  background-color: #5DB4B1;
  color: #ffffff;
  padding: 0 5vw;
}

.header h1 {
  font-size: 2.4vh;
}

.header img {
  height: 2vh;
}

.dayHeader {
  width: 100vw;
  height: 10vh;
  background-color: #5DB4B1;
}

.wave {
  background-repeat: repeat-x;
  width: 6000px;
  height: 20px;
  position: absolute;
  top: 18vh;
  left: 0;
  animation-name: wave;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}

.waveBottom {
  background-repeat: repeat-x;
  width: 6000px;
  height: 20px;
  position: absolute;
  bottom: 8vh;
  left: 0;
  animation-name: wave;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
  z-index: 1;
}

.mapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100dvh - 26vh);
  z-index: 0;
}

@keyframes wave {
  0% {
    left: 0;
  }
  100% {
    left: -1200px;
  }
}

.correction {
  margin-left: 1em;
}

.pretendard {
  font-family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.back {
  color: white;
  font-size: 2vh;
}

.backIcon {
  height: 1.8vh !important;
  margin-right: 0.5em;
}

.backContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}