.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100dvh;
  background-color: antiquewhite;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 8vh;
  width: 100vw;
  background-color: #5DB4B1;
  color: #ffffff;
  padding: 0 5vw;
}

.header h1 {
  font-size: 2.4vh;
}

.header img {
  height: 2vh;
}

.dayHeader {
  width: 100vw;
  height: 10vh;
  background-color: #5DB4B1;
}

.wave {
  background-repeat: repeat-x;
  width: 100vw;
  height: 20px;
  position: absolute;
  top: 18vh;
  left: 0;
  animation-name: wave;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}

.mapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100dvh - 26vh);
  z-index: 0;
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1200px;
  }
}

.correction {
  margin-left: 1em;
}

.pretendard {
  font-family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.back {
  color: white;
  font-size: 2vh;
}

.backIcon {
  height: 2vh !important;
  margin-right: 0.5em;
}

.backContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.waveBottom {
  background-repeat: repeat-x;
  width: 100vw;
  height: 20px;
  animation-name: wave;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  position: fixed;
  bottom: 8vh;
  min-height: 4vh;
  box-sizing: border-box;
  transition-duration: .1s;
}

.up {
  width: 7vw;
}

.upContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4vh;
  background-color: #F6F4EF;
}

.draggable {
  cursor: grab;
}

.timeline {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  padding: 2vh 5vw 10vh 5vw;
  background-color: #F6F4EF;
  box-sizing: border-box;
  min-height: 76vh;
  overflow-y: scroll;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.flexStart {
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 3vh;
}

.timeline h1 {
  color: #855C26;
  font-size: 2.4vh;
}

.timeline h3 {
  color: #BDB092;
  font-size: 2vh;
  margin-left: 0.2em;
}

.dots {
  width: 3px;
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='25' stroke-linecap='square'/%3e%3c/svg%3e");
  filter: invert(68%) sepia(40%) saturate(180%) hue-rotate(4deg) brightness(97%) contrast(89%);
  margin: 0 4vw 0 2vw;
}

.contents {
  width: 100%;
  box-sizing: border-box;
  padding-right: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  background-size: cover;
  width: 40vw;
  height: 25vh;
  border-radius: 1em;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
}

.image1 {
  margin-bottom: 20vh;
}

.image2_1 {
  transform: rotate(-5deg) translateX(-5vw);
}

.image2_2 {
  transform: rotate(10deg) translateY(-10vh) translateX(5vw);
}

.image3_1 {
  transform: rotate(10deg) translateX(5vw);
}

.image3_2 {
  transform: rotate(-5deg) translateY(-10vh) translateX(-5vw);
}

.image3_3 {
  transform: rotate(3deg) translateY(-20vh) translateX(3vw);
}

.image4_1 {
  transform: rotate(-5deg) translateX(-3vw);
}

.image4_2 {
  transform: rotate(10deg) translateY(-10vh) translateX(7vw);
}

.image4_3 {
  transform: rotate(-8deg) translateY(-20vh) translateX(-5vw);
}

.image4_4 {
  transform: rotate(3deg) translateY(-30vh) translateX(2vw);
}

.diary {
  width: 100%;
  background-color: #E6DFC2;
  color: #503613;
  font-size: 2vh;
  line-height: 110%;
  box-sizing: border-box;
  padding: 2vh 4vw;
  border-radius: 1em;
  transform: translateY(-10vh);
}